{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Finance Tracker</title>
        <link rel="stylesheet" href="{% static 'finance/css/style.css' %}">
    </head>
    
    <body>
        <nav class="navbar">
            <div>

            </div>
            <ul>
                <li>
                    <a class="activ nav-item" href="/">Dashboard</a>
                </li>
                <li>
                    <a class="nav-item" href="">Income & Expens</a>
                </li>
                <li>
                    <a class="nav-item" href="">Assets</a>
                </li>
            </ul>
        </nav>

    </body>


</html>